@font-face {
    font-family: 'Outfit-Medium';
    src: url(../assets/fonts/outfit/Outfit-Medium.ttf);
}

@font-face {
    font-family: 'Outfit-SemiBold';
    src: url(../assets/fonts/outfit/Outfit-SemiBold.ttf);
}

@font-face {
    font-family: 'Outfit-Light';
    src: url(../assets/fonts/outfit/Outfit-Light.ttf);
}

@font-face {
    font-family: 'Outfit-Bold';
    src: url(../assets/fonts/outfit/Outfit-Bold.ttf);
}

@font-face {
    font-family: 'Outfit-ExtraLight';
    src: url(../assets/fonts/outfit/Outfit-ExtraLight.ttf);
}