html {
    font-family: 'Outfit-Medium';
    font-size: var(--font-size-base);
    background: rgb(237, 248, 248);
}

.header_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    width: 1440px;
    height: 120px;
    background: rgb(60, 91, 103);
}

.brand-title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column-start: span 3;

    padding-left: 27px;

    font-size: 70px;
    color: rgb(255, 255, 255);
    letter-spacing: -2px;
}

.header-text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-column-start: span 6;

    padding-left: 43px;

    font-size: var(--font-size-base);
    color: rgb(255, 255, 255);
}

.register-button {
    font-family: 'Outfit-SemiBold';
    font-size: var(--font-size-base);
    font-style: italic;
    color: pink;
}

.register-button:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.icons_container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    grid-column-start: span 3;
}

.menu-icon {
    padding-right: 10px;

    font-size: 80px;
    color:rgb(255, 255, 255);
}

.menu-icon:hover{
    color: pink;

    cursor: pointer;
}

.menu-bar_container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    width: 1440px;
    height: 55px;
    background: rgb(237, 248, 248);
}

.menu-bar_categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.category {
    background: transparent;

    font-family: 'Outfit-SemiBold';

    padding-inline: 50px;
    padding-block: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


    transition: background 300ms ease;
}

.category:hover {
    padding-block: 20px;
    background: rgb(60, 91, 103);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


    color: rgb(255, 255, 255);

    cursor: pointer;
}

.main-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 44px;
}

.main-image_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 1440px;
    height: 780px;
    background-image: url(../assets/images/main_page/homepage_products-main.jpeg);
}

.news_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 520px;
    height: 178px;
    background: rgb(179, 197, 213);

    font-size: var(--font-size-large);
    color: rgb(237, 248, 248);
}

.news {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.first-line {
    font-family: 'Outfit-Bold';
    font-style: italic;
    color: darkred;
}

.after-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);

    padding-bottom: 82px;
}

.grid-left {
    display: block;
    grid-column-start: span 1;
    grid-row-start: span 2;
    padding-left: 30px;
}

.slideshow_title {
    font-size: 30px;
}

.slideshow_recs {
    position: relative;
    width: 538px;
    height: 508px;
    background: rgb(255, 255, 255);
}

.slideshow_slides {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
}

.slideshow_slide {
    position: absolute;
    top: 25%;
    left: 25%;

    width: 50%;
	height: 50%;

	display: none;
}

.slideshow_slide--visible {
    display: block;
}

.slideshow_img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.slideshow_caption {
    position: absolute;
    top: 100%;
    left: 0;

    text-align: center;
}

.slideshow_recs_controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
}

.slideshow_control-button {
    width: 1rem;
    height: 1rem;

    background: grey;

    border-radius: 100%;
    padding: 0.2rem;

    cursor: pointer;
}

.slideshow_recs_dots {
    display: flex;
    flex-flow: row nowrap;

    position: absolute;
    left: 50%;

    gap: 0.2rem;
    padding: 0.2rem;

    transform: translateX(-50%);
}

.slideshow_dot {
    display: block;

    width: 0.5rem;
    height: 0.5rem;

    background: rgb(118, 118, 118);

    border-radius: 100%;
}

.grid-right {
    grid-column-start: span 1;
    grid-row-start: span 2;
}

.skintypes_title {
    grid-row: 1 / 2;

    width: 567px;

    font-size: 80px;
    text-align: right;
    letter-spacing: -0.75px;

    transform: translate(20%, 0%);
}

.skintype-categories_container {
    display: flex;
    flex-direction: block;
    justify-content: space-evenly;
    align-items: center;

    width: 683px;
    height: 72px;
    background: rgb(179, 213, 213);

    border-radius: 20px;

    transform: translate(0%, 100%);
}

.skintypes-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.skintype {
    width: max-content;

    padding-inline: 20px;
    padding-block: 26px;

    font-size: var(--font-size-small);
    font-family: 'Outfit-SemiBold';
    letter-spacing: -0.25px;

    transition: background 300ms ease;
}

.skintype:hover {
    padding-block: 26px;
    background: rgb(60, 91, 103);

    color: rgb(255, 255, 255);

    cursor: pointer;
}

.skincare-brands {
    display: flex;
    flex-flow: column;

    width: 1440px;
    height: 515px;
    background: rgb(115, 144, 155);

    color: rgb(255, 255, 255);

    padding-bottom: 23px;
}

.skincare-brands_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;

    font-size: var(--font-size-large);
}

.brands_subcontainer {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.brands_column {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.brand {
    padding: 20px;
}

.brand:hover {
    width: max-content;
    height: max-content;

    padding: 20px;

    background: rgb(64, 103, 119);

    color: rgb(255, 255, 255);

    transition: background 300ms ease;

    cursor: pointer;
}
