html {
    font-family: 'Outfit-Medium';
    font-size: var(--font-size-base);
    background: var(--color-background);

    scroll-behavior: smooth;
}

.header_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    width: 100%;
    height: 120px;
    background: var(--color-primary);
}

.brand-title,
.brand-title--media {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column-start: span 3;

    padding-left: 27px;

    font-size: 70px;
    color: var(--color-secondary);
    letter-spacing: -2px;
}

.brand-title--media {
    display: none;
}

.header-text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    grid-column-start: span 6;

    padding-left: 43px;

    font-size: var(--font-size-base);
    color: var(--color-secondary);
}

.register-button {
    font-family: 'Outfit-SemiBold';
    font-style: italic;
    font-size: var(--font-size-base);
    color: var(--color-accent-one);
}

.register-button:hover {
    color: var(--color-secondary);
    
    cursor: pointer;
}

.icons_container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    grid-column: 12 / 12;
}

.menu-icon {
    position: fixed;    
    padding-right: 10px;
    z-index: 10;

    font-size: 80px;
    color: var(--color-accent-one);
}

.menu-icon:hover{
    color: var(--color-accent-two);

    cursor: pointer;
}

.menu-bar_container {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 55px;
}

.menu-bar_categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.category-button {
    background: transparent;

    font-family: 'Outfit-SemiBold';
    
    padding-inline: 50px;
    padding-block: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


    transition: background 300ms ease;
}

.category-button:hover {
    padding-block: 20px;
    background: var(--color-primary);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    color: var(--color-secondary);

    cursor: pointer;
}

.main-image {
    padding-top: 10px;
    padding-bottom: 45px;
}

.main-image_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 780px;
    background-image: url(../assets/images/main_page/homepage_products-main.jpeg);
}

.news_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 520px;
    height: 178px;
    background: var(--color-tertiary);

    font-size: var(--font-size-large);
    color: var(--color-primary);
}

.news {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.first-line {
    font-family: 'Outfit-Bold';
    font-style: italic;
    color: var(--color-accent-one);
}

.second-line {
    color: var(--color-secondary);
}

.after-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);

    padding-bottom: 82px;
}

.grid-left,
.media-top {
    display: block;
    grid-column-start: span 1;
    grid-row-start: span 2;
    padding-left: 30px;
}

.slideshow_title {
    font-size: 30px;
}

.slideshow_recs {
    position: relative;
    width: 538px;
    height: 508px;
    background: var(--color-secondary);
}

.slideshow_slides {
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
}

.slideshow_slide {
    position: absolute;
    top: 25%;
    left: 25%;

    width: 50%;
	height: 50%;

	display: none;
}

.slideshow_slide--visible {
    display: block;
}

.slideshow_img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.slideshow_caption {
    position: absolute;
    top: 100%;
    left: 0;

    text-align: center;
}

.slideshow_recs_controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
}

.slideshow_control-button {
    width: var(--font-size-small);
    height: var(--font-size-small);

    color: black;
    background: transparent;

    border-radius: 100%;
    padding: 0.2rem;

    cursor: pointer;
}

.control-button-left {
    transform: rotate(90deg);
    padding-left: 50px;
}

.control-button-right {
    transform: rotate(270deg);
    padding-right: 50px;
}

.slideshow_recs_dots {
    display: flex;
    flex-flow: row nowrap;

    position: absolute;
    left: 50%;
    top: 90%;

    gap: 0.2rem;
    padding: 0.2rem;

    transform: translateX(-50%);
}

.slideshow_dot {
    display: block;

    width: 0.5rem;
    height: 0.5rem;

    background: rgb(118, 118, 118);

    border-radius: 100%;
}

.slideshow_dot--active {
    background-color: var(--color-accent-two);
}

.grid-right {
    grid-column-start: span 1;
    grid-row-start: span 2;
}

.skintypes_title {
    grid-row: 1 / 2;

    width: 567px;

    font-size: 80px;
    text-align: right;
    letter-spacing: -0.75px;

    transform: translate(20%, 0%);
}

.skintype-categories_container {
    display: flex;
    flex-direction: block;
    justify-content: space-evenly;
    align-items: center;

    width: 683px;
    height: 72px;
    background: var(--color-tertiary);

    border-radius: 20px;

    transform: translate(0%, 100%);
}

.skintypes-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.skintype {
    width: max-content;

    padding-inline: 20px;
    padding-block: 26px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    font-size: var(--font-size-small);
    font-family: 'Outfit-SemiBold';
    letter-spacing: -0.25px;

    transition: background 300ms ease;
}

.skintype:hover {
    padding-block: 26px;
    background: var(--color-primary);

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    color: var(--color-secondary);

    cursor: pointer;
}



/* Registration section */

.registration-signup {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    padding-bottom: 50px;
}

.registration-welcome {
    font-size: 50px;

    padding: 42px;
}

.registration_container {
    width: 780px;
    height: 905px;
    background: var(--color-accent-one);
    
    display: flex;
    flex-flow: column nowrap;

    border-radius: 20px;

    font-family: 'Outfit-Light';
    font-size: var(--font-size-small);

}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-large);

    padding: 60px;
}

.input-box {
    width: 584px;
    height: 35px;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 14px;
}

.label,
.label-gender,
.label-birthday {
    display: flex;
    flex-flow: column;
}

.gender-birthday_section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.checkbox_section {
    display: flex;
    flex-flow: column;
    align-items: center;

    padding-top: 50px;
}

.terms {
    text-align: justify;
}

.button_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding-top: 100px;

}
.signup-button {
    background: var(--color-tertiary);
    width: 584px;
    height: 88px;

    justify-content: space-evenly;
    align-items: center;

    border: none;
    border-radius: 20px;

    font-size: var(--font-size-large);
    font-family: 'Outfit-SemiBold';
    color: var(--color-accent-one);
}

.signup-button:hover {
    background: var(--color-primary);
    color: var(--color-secondary);
}

/* The pop-up message after clicking on "Create Account" button*/
.pop-up {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
    padding-bottom: 100px;
}

.registration-message_container {
    display: none;
}

.registration-message_container--visible {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 250px;

    border-radius: 20px;

    background: var(--color-accent-one);
    color: var(--color-secondary);
}

.closing-button {
    padding: 10px;
}

.pop-up_redirect {
    font-family: 'Outfit-SemiBold';
    color: var(--color-secondary);
}

.pop-up_redirect:hover {
    color: var(--color-accent-two);
}

.skincare-brands {
    display: flex;
    flex-flow: column;

    width: 100%;
    height: 300px;
    background: var(--color-tertiary);

    color: var(--color-secondary);

    padding-bottom: 23px;
}

.skincare-brands_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;

    font-size: var(--font-size-large);
}

.brands_subcontainer {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.brands_column {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.brand {
    padding: 20px;
}

.brand:hover {
    width: max-content;
    height: max-content;

    padding: 20px;
    border-radius: 20px;

    background: var(--color-primary);
    color: var(--color-secondary);

    transition: background 300ms ease;

    cursor: pointer;
}
