:root {
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 4rem;

    --font-size-base: 20px;
    --font-size-small: 0.75rem;
    --font-size-large: 2rem;

    --font-leading-base: 1rem;
    --font-leading-small: 1rem;
    --font-leading-medium: 1rem;
    --font-leading-large: 1rem;

    --color-background: rgb(237, 248, 248);
    
    --color-primary: rgb(60, 91, 103);
    --color-secondary: rgb(255, 255, 255);
    --color-tertiary: rgb(115, 144, 155);

    --color-accent-one: rgb(255, 192, 203);
    --color-accent-two: rgb(211,127,141);
}